#login {
    background: linear-gradient(45deg, #9fd1d2, #e366e5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    width: 100%;
}

.login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-shadow: 0 0 0 #ccc;
    border-radius: 10px;
}

#login .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 1rem;
    border-radius: 10px;
}

.login-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.login-button {
    width: 250px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.login-button:hover {
    background-color: #b700ba;
    transform: scale(1.1);
}

.login-button:active {
    transform: translateY(2px);
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

#login .field input {
    width: 100%;
}

#login .actions {
    text-align: center;
    margin-top: 1rem;
}

.gradient-custom-2 {
    background: #2a025b;
    background: -webkit-linear-gradient(45deg, #2a025b, #b700ba);
    background: linear-gradient(45deg, #2a025b, #b700ba);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.btn.btn-outline {
    background-color: #b700ba;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    color: #000000;
    background-clip: padding-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.btn.btn-outline:hover {
    transform: scale(1.1);
    background-image: linear-gradient(45deg, #5208ac, #b700ba);
    
}